@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as mixin;

.container {
    @include mixin.flex_box_custom(flex-start, center, 20px);

    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #e5fbe9;
    user-select: none;

    &:hover {
        transform: scale(1.05);
    }

    .icon {
        img {
            width: 50px;
            height: 50px;
        }
    }

    .title {
        font-size: 1.5rem;
        font-weight: 600;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #20c997;
        }
    }
}
