@use '@styles/variable.module.scss' as *;
@use '@styles/mixin.module.scss' as mixin;

.headerContainer {
    position: fixed;
    top: 0;
    height: 78px;
    width: 100vw;
    z-index: 100;

    .headerContent {
        @include mixin.flex_box_custom(flex-start, center, 50px);
        background: $background-color;

        padding: 10px 10%;

        .leftContent {
            @include mixin.flex_box_custom(center, center);

            justify-content: center;
            user-select: none;
            align-items: center;
            height: 75px;

            svg {
                font-size: 2rem;
                cursor: pointer;
            }

            .headerLogo {
                width: 200px;
                height: 75px;

                img {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
        }

        .centerContent {
            @include mixin.flex_box_custom(center, center, 20px);

            user-select: none;

            .childContent {
                @include mixin.flex_box_custom(center, center, 0px);
                flex-direction: column;
                div {
                    cursor: pointer;
                    font-size: 12px;

                    strong {
                        font-size: 14px;
                    }
                }
            }
        }

        .rightContent {
            @include mixin.flex_box_custom(flex-end, center, 20px);
            justify-content: center;
            align-items: center;

            user-select: none;
        }
    }
}
